Project/Api-MHV/private_key.pem
Project/Api-MHV/public_key.pem
.vscode/
.idea/
permission-config.sh
*.sh

Project/Api-MHV/Admin/storage/logs/*
Project/Api-MHV/Admin/storage/framework/cache/*
Project/Api-MHV/Admin/storage/framework/sessions/*
Project/Api-MHV/Admin/storage/framework/views/*

Project/Api-MHV/User/storage/logs/*
Project/Api-MHV/User/storage/framework/cache/*
Project/Api-MHV/User/storage/framework/sessions/*
Project/Api-MHV/User/storage/framework/views/*

Project/Frontend/Admin/storage/logs/*
Project/Frontend/Admin/storage/framework/cache/*
Project/Frontend/Admin/storage/framework/sessions/*
Project/Frontend/Admin/storage/framework/views/*

Project/Frontend/Users/storage/logs/*
Project/Frontend/Users/storage/framework/cache/*
Project/Frontend/Users/storage/framework/sessions/*
Project/Frontend/Users/storage/framework/views/*